<div>
	<span>Number of Floors (minimum 2): </span>
	<input type="text" class="form-control" ng-model="vm.simulation.numFloors" />

	<span>Number of Elevators (minimum 1): </span>
	<input type="text" class="form-control" ng-model="vm.simulation.numElevators" />

	<span>Time Between Floors (minimum 500ms = 1/2sec): </span>
	<input type="text" class="form-control" ng-model="vm.simulation.floorSpeed" />

	<br />
	<button type="button" class="btn" ng-click="vm.submit()">Submit</button>
	<hr />

	<span>YOUR DATA IS {{ vm.simData }}</span>
	</div>
</div>