<div>
	<span>ELEVATORS</span>
	<!--<input type="text" class="form-control" ng-model="vm.simulation.numFloors" />-->

	<!--<span>Number of Elevators: </span>
	<input type="text" class="form-control" ng-model="vm.simulation.numElevators" />

	<span>Time Between Floors: </span>
	<input type="text" class="form-control" ng-model="vm.simulation.floorSpeed" />

	<br />
	<button type="button" class="btn" ng-click="vm.submit()">Submit</button>
	<hr />

	<span>YOUR DATA IS {{ vm.simData }}</span>
	</div>-->
</div>