<!--<div class="row"><div class="col-md-12">ELEVATORS</div></div>-->
<div class="row">
	<div class="col-md-3" ng-repeat="elevator in vm.elevators">
		<div>
			Elevator {{ elevator.name }}
		</div>
		<div class="col-md-6">
			ID: {{ elevator.id }}
			<br />
			Current Floor: {{ elevator.currentFloor }}
			<br />
			Doors Open: {{ elevator.name }}
		</div>
		<div class="col-md-6">
			Moving: {{ elevator.isMoving }}
			<br />
			Trips: {{ elevator.totalTrips }}
			<br />
			Floors Passed: {{ elevator.floorsPassed }}
		</div>
		<div class="col-md-12">
		</div>
		<div ng-if="elevator.needsService">
			<button type="button" class="btn" ng-click="vm.serviceElevator(elevator.id)">Service</button>
		</div>
		<div ng-if="!elevator.needsService">
			<span>No service needed...</span>
		</div>
	</div>
</div>